@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #fa921f;
  --color-primary-50: #f6f2ee;
  --color-primary-100: #ffdbb3;
  --color-primary-200: #ffc280;
  --color-primary-300: #ffaa4d;
  --color-primary-400: #ff921a;
  --color-primary-500: #e67900;
  --color-primary-600: #b35e00;
  --color-primary-700: #804300;
  --color-primary-800: #4d2800;
  --color-primary-900: #190d00;

  --color-secondary: #241f6e;
  --color-secondary-50: #f3f3fc;
  --color-secondary-100: #e4e4f7;
  --color-secondary-200: #cdcbf1;
  --color-secondary-300: #b2b1e9;
  --color-secondary-400: #9996e2;
  --color-secondary-500: #827fdb;
  --color-secondary-600: #6964d1;
  --color-secondary-700: #514ac4;
  --color-secondary-800: #3d36ad;
  --color-secondary-900: #2c2681;
  --color-secondary-950: #241f6e;

  --color-dark: #151515;
  --color-dark-50: #f6f6f6;
  --color-dark-100: #e7e7e7;
  --color-dark-200: #d1d1d1;
  --color-dark-300: #b0b0b0;
  --color-dark-400: #888888;
  --color-dark-500: #6d6d6d;
  --color-dark-600: #5d5d5d;
  --color-dark-700: #4f4f4f;
  --color-dark-800: #454545;
  --color-dark-900: #3d3d3d;
  --color-dark-950: #151515;

  --color-zinc-50: var(--color-neutral-50);
  --color-zinc-100: var(--color-neutral-100);
  --color-zinc-200: var(--color-neutral-200);
  --color-zinc-300: var(--color-neutral-300);
  --color-zinc-400: var(--color-neutral-400);
  --color-zinc-500: var(--color-neutral-500);
  --color-zinc-600: var(--color-neutral-600);
  --color-zinc-700: var(--color-neutral-700);
  --color-zinc-800: var(--color-neutral-800);
  --color-zinc-900: var(--color-neutral-900);
  --color-zinc-950: var(--color-neutral-950);

  --color-accent: var(--color-primary-500);
  --color-accent-content: var(--color-primary-600);
  --color-accent-foreground: var(--color-white);
}

@layer theme {
  .dark {
    --color-accent: var(--color-primary-500);
    --color-accent-content: var(--color-primary-400);
    --color-accent-foreground: var(--color-white);
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
  @apply grid gap-2;
}

[data-flux-label] {
  @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
  @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

[x-cloak] {
  display: none !important;
}
